body {
    background-color: #000000;
}

.content-wrapper {
    max-width: 210vh;
    margin: auto;
}

.content-wrapper::before {
    background-image: url('/resources/background-white.png');
}

.content-container {
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    padding: 2rem;
}

.tab-label {
    color: white;
    background-color: #961C26;
    border-bottom: 0px;
}

.tab-button:checked + .tab-label {
    background-color: #B90F22;
    border-bottom: 0px;
}

.tab-content {
    background-color: #121212;
    border-radius: 0 0 10px 10px;
}

.tab-header > label:first-child > .tab-label {
    border-radius: 10px 0 0 0;
}

.tab-header > label:last-child > .tab-label {
    border-radius: 0 10px 0 0;
}