body {
  background-color: #000000;
}

.content-wrapper {
  max-width: 210vh;
  margin: auto;
}

.content-wrapper::before {
  background-image: url("/resources/background-white.png");
}

.content-container {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 2rem;
}

.tab-label {
  color: white;
  background-color: #961c26;
  border-bottom: 0px;
}

.tab-button:checked + .tab-label {
  background-color: #b90f22;
  border-bottom: 0px;
}

.tab-content {
  background-color: #121212;
  border-radius: 0 0 10px 10px;
}

.tab-header > label:first-child > .tab-label {
  border-radius: 10px 0 0 0;
}

.tab-header > label:last-child > .tab-label {
  border-radius: 0 10px 0 0;
}

.lobby-details {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
}

#refresh-button {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
}

#refresh-button:hover {
  background-color: #961c26;
  color: white;
}

#join-button {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
}

#join-button:disabled {
  background-color: #353535;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
}

#join-button:hover:enabled {
  background-color: #961c26;
  color: white;
}

.create-button {
  background-color: #1c1c1c;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;
}

.create-button:hover {
  background-color: #961c26;
  color: white;
}
